.header {
  background: rgba(253, 101, 133, 0.7);
}
.header-item {
  cursor: pointer;
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
}

.logout:hover {
  fill: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
}

.header-item:last-child {
  margin-right: 15px;
}

.logout {
  display: flex;
  flex-direction: row;
  fill: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}
