* {
  box-sizing: border-box;
}

:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(253, 101, 133, 1);
}

.login-card {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
}
.divider {
  padding-bottom: 7px;
}
.card-title h1 {
  font-size: 26px;
  font-weight: bold;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-cta {
  border-radius: 13px;
  width: 90px;
  border-color: rgba(253, 101, 133, 0.7);
  background: rgba(253, 101, 133, 0.7);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.login-form-cta:hover:enabled {
  border-color: rgba(253, 101, 133, 1);
  background: rgba(253, 101, 133, 1);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.login-form-cta:disabled {
  background: rgba(253, 101, 133, 0.2);
  border-color: rgba(253, 101, 133, 0.2);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.email-select {
  width: 100%;
}

.ant-form-item {
  margin: 0px;
}
