<div class="login-card">
  <div class="card-title centered">
    <h1>Login</h1>
  </div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="emailErrorTpl">
        <nz-select nzPrefixIcon="lock" class="alma" nzShowSearch nzAllowClear nzPlaceHolder="Select email"
          formControlName="email" class="email-select login-form-button login-form-margin">
          <div *ngFor="let usr of users;">
            <nz-option nzLabel="{{usr}}" nzValue="{{usr}}"></nz-option>
          </div>
        </nz-select>
        <ng-template class="validation-error" #emailErrorTpl let-control>
          @if (control.errors?.['required']) {
          Please input your email!
          }
        </ng-template>

        <div class="divider"> </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="passErrorTpl">
        <input (change)="passChanged()" formControlName="pass" nz-input type="password" placeholder="Password" />
        <ng-template #passErrorTpl let-control>
          @if (control.errors?.['required']) {
          Please input your password!
          }

          @if (control.errors?.['wrongPassword']) {
          Password incorrect!
          }
        </ng-template>
        <div class="divider"> </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="centered">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid" class="login-form-cta login-form-margin">
        Log in
      </button>
    </nz-form-item>
  </form>
</div>