div {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.number {
  color: rgba(253, 101, 133, 0.7);
  border: 2px solid rgba(253, 101, 133, 0.7);
  font-weight: 600;
  transition: 0.3s;
  grid-area: inner-div;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.number:hover {
  color: rgba(253, 101, 133, 1);
  border: 2px solid rgba(253, 101, 133, 1);
  transition: 0.3s;
}

.cross {
  font-weight: 600;
  grid-area: inner-div;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.container {
  display: grid;
  margin: 2px;
  grid-template-areas: "inner-div";
  column-gap: 50px;
}
